.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.breadcrumb {
    color: #777;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
}

.product-image-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .product-image-section {
        width: 100%;
    }
}

.main-image {
    width: 100%;
    height: 400px;
    background: #ddd;
}

.larg-image {
    width: 100%;
    height: 400px;
}


.thumbnail-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .thumbnail-row {
        display: none;
    }
}

.thumbnail {
    width: 136px;
    height: 120px;
    background: #ccc;
}

.mini-image {
    width: 136px;
    height: 120px;
}


.product-info-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

@media screen and (max-width: 768px) {
    .product-info-section {
        width: 100%;
    }
}

.product-title1 {
    font-size: 1.5rem;
    font-weight: 600;
    /* font-family: "Roboto"; */
    margin-bottom: 10px;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(200, 181, 181, 0.5);
    width: 80%;
}

.product-price {
    font-size: 1.5rem;
    color: #002266;
    font-weight: 700;
    margin-bottom: 10px;
}

.try-on-btn {
    background-color: #00bcd4;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 75%;
}

.cart-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00bcd4;
    padding: 10px;
    border: none;
    background-color: #f7f4f4;
    height: 35px;
    width: 35px;
    border-radius: 18px;
    cursor: pointer;
}

.quantity {
    /* padding-top: 20px; */
    font-size: 12px;
    font-weight: 500;
}

.add-to-cart-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #10b2c7;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 75%;
    /* Make it take up the full width of its container */
    /* max-width: 170px; */
    /* Set a maximum width to keep the button within reasonable size */
    text-align: center;
}

.buy-now-btn {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    max-width: 133px;
}

.technical-details {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    /* margin: auto; */
    overflow-y: scroll;
    height: 260px;
  }
  
  .technical-details h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #009688;
    padding-bottom: 10px;
  }
  
  .technical-details ul {
    list-style: none;
    padding: 0;
  }
  
  .technical-details li {
    /* display: flex; */
    font-size: 16px;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    flex-wrap: wrap; /* Ensures wrapping on small screens */
    gap: 10px; /* Adds spacing for better readability */
    width: 360px;
  }
  .see-all-btn {
    color: #009688;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 7px;
    border: none;
    border-radius: 3px; /* Rounded button */
    cursor: pointer;
    margin-top: 6px;
    display: inline-block;
    width: auto;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(211, 159, 167, 0.4); /* Soft shadow */
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.see-all-btn:hover {
    /* background: linear-gradient(135deg, #c691a2, #d095a4); */
    box-shadow: 0px 6px 15px rgba(185, 130, 144, 0.5);
    transform: scale(1.05);
}

.see-all-btn:active {
    transform: scale(0.98);
    box-shadow: 0px 3px 8px rgba(180, 114, 130, 0.3);
}


  
  /* If you
  .technical-details li:last-child {
    border-bottom: none;
  }
  
  .color-section {
    display: flex;
    align-items: center;
  }
  
  .color-options {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .color-box {
    width: 30px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  .no-color {
    margin-left: 10px;
    color: #888;
  }
  

/* Customer Reviews */
.customer-reviews {
    margin-top: 40px;
    width: 80%;
}

.customer-reviews h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.customer-reviews .reviews-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .reviews-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.review-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 23%;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .review-card {
        width: 350px;
    }
}

/* Suggested Frames */
.suggested-frames {
    margin-top: 20px;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .suggested-frames {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.suggested-frames h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.suggested-frames .frames-row {
    display: flex;
    gap: 15px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .frames-row {
        flex-direction: column;
        align-items: center;
    }
}


.frame-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 23%;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .frame-card {
        width: 350px;
        /* height: 300px; */
    }
}

.frame-image {
    height: 150px;
    background: #ddd;
    margin-bottom: 10px;
}

.frame-price {
    font-weight: bold;
    color: #002266;
}

.frame-price-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Power Popup */
.power-popup {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background: #f7f4f0;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .power-popup {
        width: 300px;
    }
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    width: 100%;
}

.popup-header h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #002266;
    width: auto;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #00bcd4;
    text-align: right;
    width: 100px;
    height: 40px;
}

.popup-content {
    padding: 20px;
    overflow-y: auto;
    flex: 1;
    height: 100vh;

}

.lens-option {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 30px;
    cursor: pointer;
    /* height: 100px; */
    transition: background 0.3s;
}

.price-info-popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    background-color: #ebeeef;
}

.lens-option:hover {
    background: #ececec;
}

.lens-info {
    flex-grow: 1;
    margin-left: 15px;
}

.lens-info h4 {
    margin: 0;
    font-size: 1rem;
    color: #002266;
}

.lens-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

.icon {
    font-size: 2rem;
}

.arrow {
    font-size: 1.5rem;
    color: #ccc;
}

.footer-info {
    padding-top: 0;
    margin-top: 0;
    padding: 15px;
    font-size: 0.9rem;
    text-align: center;
    color: #999;
}

/* select lens power */


.power-bg-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.lens-pricing-container {
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Title and Description */
.pricing-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 12px;
}

.pricing-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 25px;
}

/* Lens Selection Table */
.lens-selection-table {
    width: 100%;
}

.lens-selection-table table {
    width: 100%;
    border-collapse: collapse;
}

.lens-selection-table th,
.lens-selection-table td {
    padding: 12px;
    border: 1px solid #e0e0e0;
    text-align: center;
}

.lens-selection-table th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #555;
}

/* Inputs and Selects */
.lens-select,
.lens-input,
.add-input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

.lens-select {
    width: 100%;
    font-size: 0.9rem;
}

.lens-input {
    text-align: center;
    font-size: 0.9rem;
}

.add-input {
    width: calc(100% - 20px);
    margin-top: 10px;
}

.submit-lens-details {
    width: 120px;
    height: 40px;
    background-color: #002266;
    color: #fff;
    text-align: center;
    align-self: flex-end;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.color-section{
    position: relative;
}
.chose-color{
    color: #009688;
    font-size: 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    position: absolute;
    right: 8px;
    bottom: 0;
}
.color-box {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: border 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.color-box:hover {
    transform: scale(1.1);
}

/* .color-box.selected {
    border: 2px solid black; 
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); 
    transform: scale(1.1);
} */

.selected-color{
    border: 5px solid rgb(227, 158, 158) !important;
}