.lens-bg-container{
    background-image: url('../../Assets/images/your-perfect-pair-banner.webp');
    background-size: cover;
    min-height: 100vh;
}
.lens-pricing {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(135, 152, 161);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
  }
  
  select, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  label input[type="radio"] {
    margin: 5px 10px 5px 0;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h2 {
    margin-top: 20px;
    color: #444;
  }
  
  p {
    font-size: 1.1em;
    margin: 10px 0;
  }
  

  /* // pawor css */

  .Power-bg-container {
    /* background-color: #e0f7fa; */
    padding: 20px;
    border-radius: 10px;
    /* width: 900px; */
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .lens-pricing {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .lens-pricing h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .lens-pricing p {
    font-size: 14px;
    color: #666;
  }
  
  .tab-buttons {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tab-button {
    flex: 1;
    padding: 10px;
    border: 1px solid #00bcd4;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #00bcd4;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .tab-button.active,
  .tab-button:hover {
    background-color: #00bcd4;
    color: #ffffff;
  }
  
  .lens-table {
    margin-bottom: 20px;
  }
  
  .lens-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .lens-table th,
  .lens-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .lens-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .lens-table select,
  .lens-table input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .lens-table input[type="number"] {
    text-align: center;
  }
  
  button {
    background-color: #00bcd4;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0097a7;
  }
  .add-input {
    width: 100%; /* Set width to 100% to occupy the full width of the merged <td> */
    padding: 10px;
    box-sizing: border-box;
   
}