.footer {
    background-color: #f5f5f7;
    padding: 40px 0;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 80px;
}

.footer-logo {
    text-align: center;
    max-width: 300px;
}

.footer-logo .logo {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 16px;
    color: #333;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
}

.footer-links ul li a:hover {
    color: #007BFF;
}

.contact-info {
    max-width: 250px;
}

.contact-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

.contact-info ul li span {
    margin-right: 8px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
    /* padding: 10px; */
    background-color: #f0f0f0;
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons a img {
    width: 24px;
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 200px;
}